version: "3.0"
services:
  geocoderdb:
    build: .
    ports:
      - "8432:5432"
    environment:
      - OSM_PBF_URL=http://download.geofabrik.de/europe/monaco-latest.osm.pbf
      - POSTGRES_PASSWORD=12345
      - POSTGRES_DB=osm_data